<h1 class="text-center">Sign in</h1>
<hr>

<%#= content_tag(:div, flash[:signin_error], class: 'alert alert-danger') if flash.include?(:signin_error) %>

<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(:session, url: signin_path) do |f| %>

            <div class="form-group">
              <%= f.label :email %>
              <%= f.text_field :email, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :password %>
              <%= f.text_field :password, class: 'form-control' %>
            </div>

            <div>
              <%= f.submit 'Sign in', class: 'btn btn-lg btn-primary btn-block' %>
            </div>
        <% end %>

      <%= render partial: 'shared/form_footer', locals: { text: link_to('Sign up', signup_path) + ', if you do not have account yet.' } %>

    </div>
</div>