<%
orders  = @user.orders.count
reviews = @user.reviews.count
%>
<div class="row">
  <%= render partial: 'shared/page_header', locals: { title: 'Profile' } %>
  <div class="col-md-3">
    <%= image_tag user_gravatar(@user.email) %>
  </div>
  <div class="col-md-7 user-profile-info">
    <%= render partial: 'shared/flash' %>
    <div>Name: <strong><%= h(@user.name) %></strong></div>
    <div>Email: <strong><%= @user.email %></strong></div>
    <div>Orders: <%= orders > 0 ? orders : 'You haven\'t made any orders yet.' %></div>
    <div>Reviews: <%= reviews > 0 ? reviews : 'You haven\'t wrote any review yet.' %></div>
    <div>Joined: <%= @user.created_at.to_formatted_s(:long) %></div>
  </div>
</div>