<%
orders  = @user.orders.count
reviews = @user.reviews.count
%>
<div class="row">
  <%= render partial: 'shared/page_header', locals: { title: 'Profile' } %>
  <div class="col-md-3">
    <%= image_tag user_gravatar(@user.email) %>
  </div>
  <div class="col-md-7">
    <%= render partial: 'shared/flash' %>
    <dl class="dl-horizontal user-profile-info">
      <dt>Name:</dt>
      <dd><strong><%= h(@user.name) %></strong></dd>

      <dt>Email:</dt>
      <dd><strong><%= @user.email %></strong></dd>

      <dt>Orders:</dt>
      <dd><%= orders > 0 ? orders : 'You haven\'t made any orders yet.' %></dd>

      <dt>Reviews:</dt>
      <dd><%= reviews > 0 ? reviews : 'You haven\'t wrote any review yet.' %></dd>

      <dt>Joined:</dt>
      <dd><%= @user.created_at.to_formatted_s(:long) %></dd>
    </dl>
  </div>
</div>

