<div class="row">
  <div class="col-md-2 book-cover">
    <%= link_to amazon_book_cover(book.amazon_id, h(book.title)), book_path(book), title: h(book.title) %>
  </div>
  <div class="col-md-8">
    <h2><%= link_to h(book.title), book_path(book), title: h(book.title) %></h2>
    <h5>by <%= h(book.author) %> (Author)</h5>
    <p>ISBN-10: <%= book.isbn %></p>
    <p>Publisher: <%= h(book.publisher) %></p>
    <p>Published: <%= format_date(book.pub_date) %></p>
    <p><%= h(book.description.truncate_words(10)) %></p>
  </div>
  <div class="col-md-2 book-price-block">
    <p class="price-box text-center"><%= number_to_currency book.price %></p>
    <%= render 'shared/add_to_cart', book_id: book.id %>
  </div>
</div>

<hr>