<div class="row">
  <%= render 'shared/back_button', link: :back %>
  <div class="clearfix"></div>
  <%= render 'shared/flash' %>
  <div class="col-md-3 book-cover-lg">
    <p class="text-center">
      <%= amazon_book_cover(@book.amazon_id, @book.title) %>
    </p>
    <% if logged_in? && current_user.admin? %>
        <div class="pull-left">
          <%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-md btn-warning book-edit-link' %>
        </div>
        <div class="pull-right">
            <%= button_to 'Delete', book_path(@book), method: :delete, data: { confirm: 'Are you sure ?' }, class: 'btn btn-md btn-danger book-delete-link' %>
        </div>
    <% end %>
  </div>
  <div class="col-md-7 book-info-block">
    <h1><%= h(@book.title) %></h1>
    <p><strong>by <%= h(@book.author) %></strong></p>
    <p><span>ISBN-10:</span> <%= @book.isbn %></p>
    <p><span>Publisher:</span> <%= h(@book.publisher) %></p>
    <p><span>Published:</span> <%= format_date(@book.pub_date) %></p>
    <p><%= sanitize @book.description, tags: %w(p h5 ul li) %></p>
  </div>
  <div class="col-md-2 book-price-block">
    <p class="text-center price-box">$<%= @book.price %></p>
    <%= render 'shared/add_to_cart', book_id: @book.id %>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1" id="reviews">
    <% if @reviews.any? %>
        <h4 class="text-center">Customer reviews</h4>
        <%= render @reviews %>
    <% end %>
    <%= render 'review_form' if logged_in? %>
  </div>
</div>