<div class="row">
  <%= render 'shared/back_button', link: books_path() %>
  <div class="col-md-3 book-cover-lg">
    <p class="text-center">
      <%= amazon_book_cover(@book.amazon_id, @book.title) %>
    </p>
    <div class="pull-left">
      <%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-md btn-warning book-edit-link' %>
    </div>
    <div class="pull-right">
        <%= button_to 'Delete', book_path(@book), method: :delete, data: { confirm: 'Are you sure ?' }, class: 'btn btn-md btn-danger book-delete-link' %>
    </div>
  </div>
  <div class="col-md-7">
    <h1><%= h(@book.title) %></h1>
    <div>by <strong><%= h(@book.author) %></strong> (author)</div>
    <div>ISBN: <%= @book.isbn %></div>
    <div>Publisher: <%= h(@book.publisher) %></div>
    <div>Published: <%= format_date(@book.pub_date) %></div>
    <div>Description: <%= simple_format(h(@book.description)) %></div>
  </div>
  <div class="col-md-2">
    <p class="text-center price-box">$<%= @book.price %></p>
    <%= render 'shared/add_to_cart', book_id: @book.id %>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1" id="reviews">
    <h4 class="text-center">Customer reviews</h4>
    <%= render 'shared/flash' %>
    <%= render @reviews %>
    <%= render 'review_form' if logged_in? %>
  </div>
</div>