<div class="row">
  <%= render partial: 'shared/back_button', locals: { link: books_path() } %>
  <div class="col-md-3 book-cover-lg">
    <%= amazon_book_cover(@book.amazon_id, @book.title) %>
    <%= render partial: 'shared/edit_book', locals: { book: @book } %>
  </div>
  <div class="col-md-7">
    <h1><%= h(@book.title) %></h1>
    <div>by <strong><%= h(@book.author) %></strong> (author)</div>
    <div>ISBN: <%= @book.isbn %></div>
    <div>Publisher: <%= h(@book.publisher) %></div>
    <div>Published: <%= format_date(@book.pub_date) %></div>
    <div>Description: <%= simple_format(h(@book.description)) %></div>
  </div>
  <div class="col-md-2">
    <p class="text-center price-box">$<%= @book.price %></p>
    <%= render partial: 'shared/add_to_cart', locals: { book_id: @book.id } %>
  </div>
</div>
<div class="row">
  <div class="col-md-10" id="reviews">
    <h4>Reviews</h4>
    <%= render @reviews %>
  </div>
</div>
<%= render partial: 'review_form' %>