<%= render partial: 'shared/page_header', locals: { title: 'Shopping cart' } %>

<div class="alert alert-info text-center cart-items-info-message" role="alert">You have <%= pluralize(cart_items_amount(current_user), 'item') %> in your shopping cart. Total price: <span><%= number_to_currency(total_price_for_cart current_user) %></span></div>

<%= render partial: 'shared/flash' %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render @cart_items %>
  </div>
</div>